body{color:#434455 ;
    font-family:"Roboto", sans-serif;
    background-color: #FFFFFF;
}
address
{
    font-style: normal;
}
button
{
    cursor: pointer;
}
a {
    text-decoration: none;
}
ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

/*TODO---- Header---- */
.container{
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.header-container{
    display: flex;
    align-items: center;
}
.header{
    border-bottom: 1px solid #e7e9fc;
}
.navigation{
    display: flex;
    align-items: center;
}
    .page-title{font-weight: 700;
    }
    .header-loggo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        
        line-height: 21px; 
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        padding: 24px 0;
        margin-right: 76px;
}

    .header-logo-stail{
    font-weight: 700;
font-size: 18px;

line-height: 21px; 
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color:#2e2f42;
    font-family: "Raleway", sans-serif;
}
.header-menu-list {
    color: #2e2f42;
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-menu-item {
    font-weight: 500;
font-size: 16px;
line-height: 24px; 
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
font-family: "Roboto", sans-serif;
}
.header-menu-link{
    color: #2e2f42;
    display: block;
    padding: 24px;
}

.header-menu-address {
    color: #2e2f42;
    margin: auto 0;
}
.header-menu-address :hover{
    color: #404bbf;
}
.header-menu-address :focus{
    color: #404bbf;
}
.header-menu-list :hover{
    color: #404bbf;
}
.header-menu-list :focus{
    color: #404bbf;}

.header-address-list {
    display: flex;
    align-items: center;
    gap: 40px;

}
.header-address-link {
    display: block;
padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    
    line-height: 24px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-address-link:hover{
    color: #404bbf;}
.header-address-link:focus{
    color: #404bbf;}





    /*TODO----Hero---- */

    .hero {
        background: #2e2f42;   }

    .hero-title {
        padding-top: 188px;
        padding-bottom: 48px;
        min-width: 496px;
        margin: 0 auto;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        
    }
    .hero-btn {
        font-weight: 500;
        font-size: 16px;
        
        line-height: 24px; 
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;
    }
    .hero-btn:hover {
        
        background: #404bbf;
    }
    .hero-btn:focus{
        background-color: #404BBF;
    }
    /*TODO----Feature---- */
    .visually-hidden {
        
        
        
        margin: -1px;
        border: 0;
        
        
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }

    .features {
    }

    .features-list {
    }

    .feature-item {
    }

    .feature-subtitle {
        font-weight: 500;
font-size: 20px;

line-height: 24px; 
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
    }

    .feature-item-text {
        font-weight: 400;
font-size: 16px;

line-height: 24px; 
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
    }

/*TODO----Team---- */
.team {
    background-color: #F4F4FD;
}
.team-titel {
    font-weight: 700;
font-size: 36px;
text-align: center;
line-height: 40px; 
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}
.team-list {
    background-color: #FFFFFF;
}
.team-item {
    background-color: #FFFFFF;
}
.team-img {
}
.team-subtitle {
    font-weight: 500;
font-size: 20px;
line-height: 24px; 
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.team-subtitle-text {
font-weight: 400;
font-size: 16px;
line-height: 24px; 
line-height: 1.5;
letter-spacing: 0.02em;

color: #434455;
}
/*TODO----portfolio---- */
.portfolio {
}
.portfolio-title {
    font-weight: 700;
font-size: 36px;
text-align: center;
line-height: 40px; 
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-img {
}
.portfolio-subtitel {
    font-weight: 500;
font-size: 20px;

line-height: 24px; 
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.portfolio-subtitel-text {
    font-weight: 400;
font-size: 16px;

line-height: 24px; 
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
/*TODO----Footer---- */
.footer{
    background: #2e2f42;
}
.footer-loggo {
    font-weight: 700;
font-size: 18px;

line-height: 21px; 
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
font-family: "Raleway", sans-serif;

}
.footer-logo-stail{
    font-weight: 700;
font-size: 18px;

line-height: 21px; 
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
font-family: "Raleway", sans-serif;
    
}
.footer-text {
    font-weight: 400;
font-size: 16px;
line-height: 24px; 
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;

}